/* ==========================================================================
   windreiten.ch
   Lea Senn
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    overflow-x: hidden;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

body {
    font-family: 'abeezeeregular', serif;
    font-size: 16px;
    margin:0px; 
}

body.modal-open { 
    overflow:inherit; 
    padding-right:inherit !important; 
}

.browsehappy { /* Wenn zu alter Browser... */
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Container
   ========================================================================== */

/* Generell */
#main {
    position: relative;
    background-color: white;
    width:100%;
    padding:0px;
}

.content-wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
    z-index: 2;
}

h2 {
    font-family: 'frente_h1regular';
    font-size: 42px;
    margin-bottom: 40px;
}

a {
    color:coral;
}
a:hover {
    color:chocolate;
    text-decoration: none;
}

/* Intro */
#intro {
    height: 90vh;
    text-align: center;
    color: #fff;
    
}

video#introVideo { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/ballon.jpg) no-repeat;
    background-size: cover; 
}


#videoOverlay {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 90vh;
    opacity: 0.3;
    z-index: -99;
    background: repeating-linear-gradient(
      -25deg,
      #222,
      #222 3px,
      #333 3px,
      #333 6px
    );
}


@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
     top:80%;
  }
	40% {
    top:72%;
  }
	60% {
    top:75%;
  }
}
}

/* Team */
#team {
    width:100%;
}

.modal-content {
    width:1150px;        
}

.modal-dialog {
    width:1150px;
    /*height:660px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -560px;
    margin-top: -315px;*/
}

/* Wetter */
#wetter {
    margin-top: 50px;
    min-height:500px;
}
#wetterdaten {
    /*float:left;*/
    /*width: 500px;*/
    padding-bottom: 30px;
}
#wetterdaten ul {
    list-style-type: none;
    padding-left: 0px;
}

#wetterdaten li {
    padding-left: 44px;
    padding-top: 8px;
    height: 54px;
}
#wetterdaten .li0 {
    background: url('../img/liOK.png') no-repeat left top;
}
#wetterdaten .li1 {
    background: url('../img/liEVT.png') no-repeat left top;
}
#wetterdaten .li2 {
    background: url('../img/liNO.png') no-repeat left top;
}

#tacho-komp {
    background: url("../img/Tacho-bg.png");
    background-repeat: no-repeat;
    min-height: 178px;
}

#tacho-img {
    position: relative;
    left: -40px;
    top: 150px;
    transform-origin: 90% 50%;
    transform: rotate(0deg);
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes spin2 { from { transform:rotate(0deg); } to { transform:rotate(35deg); }}
@keyframes spin1 { from { transform:rotate(0deg); } to { transform:rotate(90deg); }}
@keyframes spin0 { from { transform:rotate(0deg); } to { transform:rotate(145deg); }}

.divAudio {
    height:32px;
}
#audioWetter {
    width:100%;
}

/* Wettbewerb Formular */
.divWettbewerb {
    width:60%;
}
.divWettbewerb .row {
    margin-top: 10px;
}

#g-recaptcha-response {
    padding-left:15px;
    padding-bottom: 15px;
}
#wettbewerbResponse {
    margin-top: 15px;
}

button.mdlButton, button#wettbewerbabschicken, #btnStadt {
    background-image: url('../img/Button.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    width:auto;
    height:auto;
    display: inline-block;
    border-width: 0;
    color:#363636;
    padding: 12px 24px;
    font-size: 16px;
    
}

/*#btnStadt {
    background-image: url('../img/Button.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    width:auto;
    height:auto;
    display: inline-block;
    border-width: 0;
    color:#363636;

}*/

button.mdlButton:hover, button#wettbewerbabschicken:hover, #btnStadt {
    color:#000;
}

.mdlButton:focus {
    outline: #363636 solid 1px;
}

#inputStadt {
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 4px
}


/* ==========================================================================
   Fonts
   ========================================================================== */
/* Fliesstext */
@font-face {
    font-family: 'abeezeeregular';
    src: url('../fonts/abeezee-regular-webfont.woff2') format('woff2'),
         url('../fonts/abeezee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Überschriften */
@font-face {
    font-family: 'frente_h1regular';
    src: url('../fonts/FrenteH1-Regular-webfont.eot');
    src: url('../fonts/FrenteH1-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FrenteH1-Regular-webfont.woff') format('woff'),
         url('../fonts/FrenteH1-Regular-webfont.ttf') format('truetype'),
         url('../fonts/FrenteH1-Regular-webfont.svg#frente_h1regular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Telefone */
@media only screen and (max-width: 991px) { 
    h1 {
        font-family: 'frente_h1regular';
        font-size: 80px;
        margin-bottom: 10px;
    }
       
    #intro .content {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    p.headline {
        font-size: 24px;
        margin-top: 10px; /* damit näher an Titel */
        //padding-left: 50px;
    }
    
    #pfeil {
        position: absolute;
        top:80%;
        left:50%;
        transform: translate(-50%, -50%);

        animation: jump 2s infinite;
        animation-delay: 3s;
    }
    
    #logotop img {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    
    /* Sections */
    .section100 { /* Fullscreen Text & Fotos */
        min-height:90vh;
        padding: 20px;
    }
    .section101 { /* Fullscreen Videos */
        //min-height:100vh;
    }

    .section102 { /* Fullscreen Text & Fotos > inverted */
        min-height:90vh;
        padding: 20px;
        background-color: #353535;
        color:white;
    }
    
    .section103 { /* Ballon scrollen */ 
        padding:20px;
    }
    
    .section104 { /* Fullscreen Text & Fotos > inverted (Impressum) */
        padding: 20px;
        background-color: #353535;
        color:white;
    }
    .team {
        text-align: center;
        opacity: 1;
        transform: translateY(0px);
    }
    
    .teamimage {
        width:200px;
        margin-bottom: 0;
    }
    
    .iframeTeam {
        width:100%;
        height:100%;
    }
    
    /* ScrollBallon */
    #ballonscroll {
        position: relative;
        height: 450px;
    }
    .imgBallon {
        max-width: 300px;
        position: absolute;
        left: 0;
        top: 0;
        right: 60%;
        margin: auto;
    }
    #ballontext {
        position: relative;
    }
    
    /* Recaptcha verkleinern */
    #rc-imageselect, .g-recaptcha {
        transform:scale(0.77);
        -webkit-transform:scale(0.77);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}

/* Desktop */
@media only screen and (min-width: 992px) {
    h1 {
        font-family: 'frente_h1regular';
        font-size: 140px;
        margin-bottom: 10px;
    }
      
    #intro .content {
        position: absolute;
        top: 25%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
    
    p.headline {
        font-size: 24px;
        margin-top: 10px; /* damit näher an Titel */
        padding-left: 50px;
    }
    
    #pfeil {
        position: absolute;
        top:80%;
        left:50%;
        transform: translate(-50%, -50%);

        animation: jump 2s infinite;
        animation-delay: 3s;
    }
    
    #logotop {
        width: 40%;
    }
    
    /* Sections */
    .section100 { /* Fullscreen Text & Fotos */
        min-height:90vh;
        padding: 100px;
    }
    .section101 { /* Fullscreen Videos */
        height:100vh;
        /*background-color: #353535;*/
    }

    .section102 { /* Fullscreen Text & Fotos > inverted */
        min-height:90vh;
        padding: 100px;
        background-color: #353535;
        color:white;
    }
    
    .section103 { /* Ballon scrollen */ 
        min-height:900px;
        padding-left:100px;
        padding-right:100px;
        padding-top: 50px;  
    }
    .section104 { /* Fullscreen Text & Fotos > inverted (Impressum) */
        padding: 100px;
        background-color: #353535;
        color:white;
    }
    
    .introtext {
        opacity: 0;
        transform: translateX(-30px);
        transition: all 1s ease-out;
    }

    .introtext.fade-in {
        opacity: 1;
        transform: translateX(0px);
    }
    
    #intro-01 p {
        margin-bottom: 30px;
    }
    
    .team {
        text-align: center;
        opacity: 0;
        transform: translateY(30px);
    }
    .teamimage {
        width:300px;
        margin-bottom: 30px;
    }

    #ballonscroll {
        position: relative;
    }
    .imgBallon {
        position: absolute;
        left: 0;
        top: 0;
        right: 60%;
        margin: auto;
    }
    
    #ballontext {
        position: relative;
    }
    .pBallon {
        position: absolute;
        left: 50%;
        top: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transform: translateX(30px);
        transition: all 1s ease-out;
    }
    .pBallon.fade-in { 
        opacity: 1;
        transform: translateX(0px);
    }
    
    #p1 { top:420px; }
    #p2 { top:520px; }
    #p3 { top:620px; }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
